{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <p>
      Varatut kurssit:
    </p>
  </tr>
  <tr>
    <th>Kurssi</th>
    <th>Aika</th>
    <th>Paikka</th>
  </tr>
  {% for kurssi in kurssit %}
  <tr>
    <td>{{ kurssi.nimi }}</td>
    <td>{{ kurssi.aika }}</td>
    <td>{{ kurssi.paikka }}</td>
    <td>
      <form method="POST" action="{{ url_for('varaus_delete', kurssi_id=kurssi.id)}}">
        <input type="submit" value="Poista varaus" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}