{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <h5>Kaikki varaukset:</h5>
  </tr>
  <tr>
    <th style="padding:5px;">Kurssi</th>
    <th style="padding:5px;">Käyttäjänimi</th>
    <th style="padding:5px;">Maksettu</th>
  </tr>
  {% for varaus in varaukset %}
  <tr>
    <td style="padding:5px;">{{ varaus.kurssi }}</td>
    <td style="padding:5px;">{{ varaus.user }}</td>
    <td style="padding:5px;">{{ varaus.maksettu }}</td>
    <td>
      <form method="POST" action="{{ url_for('varaus_delete2', account_id=varaus.account_id, kurssi_id=varaus.kurssi_id)}}">
        <input type="submit" value="Poista varaus" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}