{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <h5>
      Aihepiirit:
    </h5>
    {% if current_user.admin==True %}
    Huom! Aihepiirin kurssit täytyy poistaa ennen kuin sen voi poistaa herokussa.
    {% endif %}
  </tr>
  <tr>
    <th style="padding:5px;">Aihepiiri</th>
    <th style="padding:5px;">Kurssit</th>
  </tr>
  {% for aihepiiri in aihepiirit %}
  <tr>
    <td style="padding:5px;">{{ aihepiiri.nimi }}</td>
    <td style="padding:5px;">{{ aihepiiri.kurssit }}</td>
    <td>
      <form method="GET" action="{{ url_for('aihepiirin_kurssit', aihepiiri_id=aihepiiri.id) }}">
        <input type="submit" value="Listaa kurssit" />
      </form>
    </td>
    <td>
      {% if current_user.admin==True %}
      <form method="POST" action="{{ url_for('aihepiiri_muokkaa', aihepiiri_id=aihepiiri.id) }}">
        <input type="submit" value="Muokkaa aihepiiriä" />
      </form>
      {% endif %}
    </td>
    <td>
      {% if current_user.admin==True %}
      <form method="POST" action="{{ url_for('aihepiiri_poista', aihepiiri_id=aihepiiri.id) }}">
        <input type="submit" value="Poista aihepiiri" />
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}