{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <th style="padding:5px;">Kurssi</th>
    <th style="padding:5px;">Aihepiiri</th>
    <th style="padding:5px;">Aika</th>
    <th style="padding:5px;">Paikka</th>
    <th style="padding:5px;">Maksimikoko</th>
    <th style="padding:5px;">Varaukset</th>
    <th style="padding:5px;">Täynnä</th>
  </tr>
  {% for kurssi in kurssit %}
  <tr>
    <td style="padding:5px;">{{ kurssi.nimi }}</td>
    <td style="padding:5px;">{{ kurssi.aihepiiri }}</td>
    <td style="padding:5px;">{{ kurssi.aika }}</td>
    <td style="padding:5px;">{{ kurssi.paikka }}</td>
    <td style="padding:5px;">{{ kurssi.maksimikoko }}</td>
    <td style="padding:5px;">{{ kurssi.maara }}</td>
    <td style="padding:5px;">{{ kurssi.taynna }}</td>
    <td>
      {% if current_user.admin==False %}
      <form method="POST" action="{{ url_for('kurssit_varaa_tai_muuta', kurssi_id=kurssi.id) }}">
        <input type="submit" value="Varaa kurssi" />
      </form>
      {% endif %}
    </td>
    <td>
      {% if current_user.admin==True %}
      <form method="POST" action="{{ url_for('kurssit_varaa_tai_muuta', kurssi_id=kurssi.id) }}">
        <input type="submit" value="Vaihda täynnä-statusta" />
      </form>
      {% endif %}
    </td>
    <td>
      {% if current_user.admin==True %}
      <form method="POST" action="{{ url_for('kurssit_muokkaa', kurssi_id=kurssi.id) }}">
        <input type="submit" value="Muokkaa kurssia" />
      </form>
      {% endif %}
    </td>
    <td>
      {% if current_user.admin==True %}
      <form method="POST" action="{{ url_for('kurssit_delete', kurssi_id=kurssi.id)}}">
        <input type="submit" value="Poista kurssi" />
      </form>
      {% endif %}
    </td>
    <h5>{{errorMessage}}</h5>
  </tr>
  {% endfor %}
</table>
{% endblock %}