{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('kurssit_create') }}">
  <table>
    <tr>
      <td>
        {{ form.nimi.label }}
      </td>
      <td>
        {{ form.nimi }}
      </td>
      <td>
        <ul>
          {% for error in form.nimi.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.aika.label }}
      </td>
      <td>
        {{ form.aika }}
      </td>
      <td>
        <ul>
          {% for error in form.aika.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.paikka.label }}
      </td>
      <td>
        {{ form.paikka }}
      </td>
      <td>
        <ul>
          {% for error in form.paikka.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.maksimikoko.label }}
      </td>
      <td>
        {{ form.maksimikoko }}
      </td>
      <td>
        <ul>
          {% for error in form.maksimikoko.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää kurssi"/>
      </td>
    </tr>
</form>
{% endblock %}